Options -MultiViews
RewriteEngine On

RewriteBase /projetos/mvc/public
# The following rule tells Apache that if the requested filename
# exists, simply serve it.
#diretorios
RewriteCond %{REQUEST_FILENAME} !-d 
#arquivos
RewriteCond %{REQUEST_FILENAME} !-f 

#passar get url
#RewriteRule ^(.+)$ index.php?url=$1 [QSA,L] 
#passar outros parametros
RewriteRule ^(.+)$ index.php/$1 [QSA,L] 
